#APP
HOST=0.0.0.0
PORT=3000
NODE_ENV=production
NEXT_PUBLIC_BASE_URL=http://localhost:3000/api

#DATABASE
POSTGRES_DATABASE=default
POSTGRES_USER=default
POSTGRES_PASSWORD=default
POSTGRES_HOST=default
POSTGRES_URL=default
POSTGRES_URL_NON_POOLING=default
POSTGRES_URL_NO_SSL=default
POSTGRES_PRISMA_URL=default

DB_HOST=default
DB_PORT=default
DB_USER=default
DB_PASSWORD=default
DB_NAME=default
DATABASE_URL=default

# ENCRYPT
BCRYPT_COST=default
JWT_KEY=default
ACCESS_TOKEN_EXPIRES_IN=default
EXPIRES_IN=default
SECRET=default
