$heightHeader: 7vh

$colorWhite: #FFF
$colorMintCreamWhite: #E5ECE9
$colorSeletiveYellow: #F7B801
$colorBlack: #000000
$colorOnixBlack: #434343
$colorMossGreen: #758E4F
$colorZompGreen: #758E4F
$colorAppleGreen: #72B01D
$colorTropicalIndigo: #9381FF
$colorLavander: #C287E8
$colorMountbattenPink: #967AA1
$colorBeaver: #AB8476
$colorRedwood: #B36A5E
$colorPoppy: #DB2B39
$colorCarmine: #8C1821
$colorSatinSheenGold: #AF9B46
